@media (max-width: 376px) {
  body {
    width: 100%;
    height: 100%;
    background-color: var(--almost-white);
    font-family: "Epilogue";
    padding-bottom: 9.4rem;
  }

  .header {
    display: flex;
    width: 100%;
    height: 6.7rem;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
  .header .header-logo {
    margin-right: 0rem;
    width: 8.4rem;
    height: 2.7rem;
    margin-left: 0rem;
  }

  .header .icon-menu {
    display: block;
    cursor: pointer;
  }

  .header .icon-menu:hover ~ .box-menu {
    display: flex;
  }

  .header .box-menu:hover {
    display: flex;
  }

  .header:has(.box-menu:hover) + .main::before {
    content: "";
    width: 100%;
    height: 771px;
    top: 0;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 2);
    opacity: 0.8;
  }

  .header .box-menu {
    display: none;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
    width: 24rem;
    height: 771px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 2.1rem 2rem 12.4rem 2.4rem;
    background-color: var(--almost-white);
    z-index: 2;
  }

  .header .box-menu .icon-menu-close {
    display: block;
    margin-left: auto;
    cursor: pointer;
  }

  .header .box-menu .nav .ul-nav {
    flex-direction: column;
    column-gap: 0rem;
    row-gap: 1.6rem;
    font-size: 1.8rem;
  }

  .header .box-menu .nav .ul-nav li a {
    color: var(--medium--gray);
    padding-top: 4rem;
    padding-bottom: 2rem;
  }

  .header .box-menu .nav .ul-nav .company,
  .header .box-menu .nav .ul-nav .features {
    display: flex;
    column-gap: 1.7rem;
    align-items: center;
    position: relative;
    padding-bottom: 0rem;
  }

  .header .box-menu .nav .ul-nav .features .list-features {
    display: none;
    top: 5rem;
    left: 23px;
    padding: 0;
    border-radius: 0;

    row-gap: 1.8rem;
    background-color: var(--almost-white);
  }

  .header .box-menu .nav .ul-nav .features .list-features li a {
    padding: 0;
    width: 300px;
  }

  .header .box-menu .nav .ul-nav .company .list-company {
    position: absolute;
    padding: 0;
    border-radius: 0;
    display: none;
    flex-direction: column;
    row-gap: 1.6rem;
    background-color: var(--almost-white);
    top: 4.4rem;
    left: 24px;
    width: 13rem;
  }

  .header .box-menu .nav .ul-nav .company .list-company li a {
    padding: 0;
  }

  .header .box-menu .nav .ul-nav .features:hover .list-features,
  .header .box-menu .nav .ul-nav .company:hover .list-company,
  .header .box-menu .nav .ul-nav .features .list-features:hover,
  .header .box-menu .nav .ul-nav .company .list-company:hover {
    display: flex;
  }

  .header .box-menu .nav .ul-nav .features:hover {
    padding-bottom: 18.2rem;
  }

  .header .box-menu .nav .ul-nav .company:hover {
    padding-bottom: 13rem;
  }

  .box-btn {
    display: flex;
    flex-direction: column;
    column-gap: 0;
    row-gap: 1.6rem;
    margin-top: 3.2rem;
  }

  .box-btn .btn-login,
  .box-btn .btn-register {
    font-size: 1.7rem;
  }

  .box-btn .btn-register {
    padding: 13px 42px;
  }

  .main {
    margin-top: 0;
    column-gap: 0rem;
  }

  .remote-work-container {
    width: 34.3rem;
    padding-top: 33.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .remote-work-container .title {
    font-size: 3.5rem;
  }

  .remote-work-container .paragrath {
    line-height: 2.5rem;
    color: var(--medium--gray);
    font-size: 1.6rem;
    text-align: center;
    width: 34.3rem;
    margin-top: 1.6rem;
  }

  .remote-work-container .btn-learn {
    width: 13.6rem;
    height: 4.8rem;
    border-radius: 16px;
    font-size: 1.6rem;
    margin-top: 2.4rem;
  }

  .remote-work-container .icon-box {
    display: flex;
    align-items: center;
    column-gap: 2.9rem;
    margin-top: 4.8rem;
  }

  .remote-work-container .icon-box img:first-child {
    width: 8.2rem;
    height: 1.4rem;
  }
  .remote-work-container .icon-box img:nth-child(2) {
    width: 5.3rem;
    height: 2.6rem;
  }
  .remote-work-container .icon-box img:nth-child(3) {
    width: 6.4rem;
    height: 1.4rem;
  }
  .remote-work-container .icon-box img:last-child {
    width: 5.9rem;
    height: 1.7rem;
  }
  .img-hero {
    background-image: url(./assets/images/image-hero-desktop.png);
    background-size: cover;
    width: 37.5rem;
    height: 28.2rem;
    position: absolute;
    top: 7.5rem;
  }

  .header .remove {
    display: none;
  }
}
